<script type="text/javascript">
    angular.module('djangular-demo', ['djng.forms']).config(function($httpProvider) {
        $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
        $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token }}';
    });
</script>

<form name="{{ form.form_name }}" method="post" action="." djng-endpoint="." ng-model-options="{allowInvalid: true}" novalidate>
    {% csrf_token %}
    {{ form.as_div }}
    <button type="submit" class="btn btn-primary">Submit via Post</button>
    <button type="button" ng-click="do(update()).then(redirectTo())" class="btn btn-primary">Submit via Ajax</button>
</form>
