language: python

python:
  - 2.7

install:
  - pip install -r requirements.txt --use-mirrors
  - python setup.py -q install

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm install -g grunt-cli
  - npm install grunt grunt-contrib-jshint karma

script:
 - cd tests && ./manage.py test djangular
 - grunt travis-ci
