Django<2.0
beautifulsoup4==4.6.0
cssselect==1.0.1
django-classy-tags==0.8.0
django-sekizai==0.10.0
easy-thumbnails==2.4.1
gevent==1.2.2
greenlet==0.4.12
Pillow==4.1.1
pluggy==0.4.0
py==1.4.34
Pygments==2.2.0
pytz==2017.2
redis==2.10.5
six==1.10.0
wsaccel==0.6.2
