<!doctype html>
<html lang="en" ng-app="djangular-demo">
<head>
	<title>Djangular Test Suite</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" />
	<style>
	body {
		padding-top: 60px;
	}
	</style>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">Test Djangular</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li><a href="#home">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		{% block container %}
		<h1>Bootstrap starter template</h1>
		<p>
			Use this document as a way to quick start any new project.<br> All you
			get is this message and a barebones HTML document.
		</p>
		{% endblock container %}
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
	<script src="{{ STATIC_URL }}js/ui-bootstrap-tpls-0.6.0.min.js"></script>
	<script src="{{ STATIC_URL }}js/djangular-demo.js"></script>
</body>
</html>