{% load active %}

<!doctype html>
<html lang="en">
<head>
	{% block head %}
	<title>Djangular Test Suite</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="{{ CDN_CACHE }}netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" />
	<link href="{{ STATIC_URL }}css/djangular-demo.css" rel="stylesheet" />
	{% endblock head %}
</head>
<body ng-app="djangular-demo">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				{% block main_menu %}
				<a class="brand" href="{% url 'djng_home' %}">Django-Angular Demo</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="{% active request 'djng_form_validation' %}">
							<a href="{% url 'djng_form_validation' %}">Form Validation</a>
						</li>
						<li class="{% active request 'djng_model_form' %}">
							<a href="{% url 'djng_model_form' %}">Model Form</a>
						</li>
						<li class="{% active request 'djng_model_form_validation' %}">
							<a href="{% url 'djng_model_form_validation' %}">Model Form Validation</a>
						</li>
						{% if WEBSOCKET_URI %}
						<li class="{% active request 'djng_3way_databinding' %}">
							<a href="{% url 'djng_3way_databinding' %}">Three-Way Data-Binding</a>
						</li>
						{% endif %}
						{% block sub_menu_partials %}
						<li class="dropdown">
							<a href="{% url 'djng_partials_demo' %}">Partials <b class="caret"></b></a>
						</li>
						{% endblock %}
					</ul>
				</div>
				{% endblock %}
			</div>
		</div>
	</div>
	<div class="container">
		{% block container %}
		<div class="row">
			{% block subscribe_me_form %}{% endblock subscribe_me_form %}
		</div>
		{% endblock container %}
	</div>
	{% block scripts %}
	<script src="{{ CDN_CACHE }}ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js" type="text/javascript"></script>
	<script src="{{ CDN_CACHE }}ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.js" type="text/javascript"></script>
	<script src="{{ CDN_CACHE }}cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/ng-django-forms.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/ng-django-websocket.js" type="text/javascript"></script>
	<script type="text/javascript">
	var my_app = angular.module('djangular-demo', ['ngRoute', 'ui.bootstrap', 'ng.django.forms', 'ng.django.websocket']);
	</script>
	{% endblock scripts %}
</body>
</html>
