{% extends "model-form.html" %}

{% block form_title %}Validated Model-Form Demo{% endblock %}

{% block form_header %}Combine client-side Form validation with two-way data-binding{% endblock %}

{% block form_ctrl %}novalidate ng-controller="MyFormCtrl"{% endblock %}

{% block form_submission %}
	<input type="submit" class="btn btn-primary" ng-disabled="{{ form.form_name }}.$invalid" value="Submit via Post"><span>&nbsp;</span>
	<a class="btn btn-primary" ng-disabled="{{ form.form_name }}.$invalid" ng-click="submit()">Submit via Ajax</a>
{% endblock %}

{% block form_foot %}
	{% verbatim %}
		<h5><code>MyFormCtrl</code>'s scope:</h5>
		<pre>subscribe_data = {{ subscribe_data | json }}</pre>
	{% endverbatim %}
{% endblock %}
