{% extends "model-scope.html" %}
{% load tutorial_tags %}

{% block main-intro %}
<h1>Validated Model-Form Demo</h1>
<p class="lead">Combine client-side form validation with server-side form validation</p>
<p>Here we drop support for <code>application/x-www-form-urlencoded</code> submissions and combine
the validation from the two previous examples. This presumably is the best solution, when
integrating Django forms with AngularJS.</p>
{% endblock main-intro %}

{% block form_tag %}name="{{ form.form_name }}" djng-endpoint="." ng-model-options="{allowInvalid: true}" novalidate{% endblock %}

{% block form_submission %}
	<p>
		<button ng-click="do(update()).then(reloadPage())" type="button" class="btn btn-warning">
			Forced Submission&emsp;<i class="glyphicon glyphicon-circle-arrow-right"></i>
		</button>
		<button ng-click="do(update()).then(reloadPage())" ng-disabled="isDisabled()" type="button" class="btn btn-success">
			Validated Submission&emsp;<i class="glyphicon glyphicon-ok-sign"></i>
		</button>
		<button ng-click="do(spinner()).then(update({delay: true})).then(showOk()).then(delay(500)).then(redirectTo()).catch(showFail()).then(delay(1500)).finally(restore())" ng-disabled="isDisabled()" type="button" class="btn btn-primary">
			Delayed Submission&emsp;<i class="glyphicon glyphicon-hourglass"></i>
		</button>
		<button ng-click="do(update({set_defaults: true}))" type="button" class="btn btn-default">
			Set Defaults&emsp;<i class="glyphicon glyphicon-transfer"></i>
		</button>
	</p>
{% endblock %}

{% block main-tutorial %}
<p>If a Form inherits from both mixin classes <code>NgModelFormMixin</code> and
<code>NgFormValidationMixin</code>, then <strong>django-angular</strong> combines
<a href="{% url 'djng_form_validation' %}">client-side validation</a> with AngularJS's
<a href="{% url 'djng_model_scope' %}">model scope</a>.</p>
<p>Refer to the previous examples for a detailed explanation.</p>

<p ng-init="tabList=['Form', 'View', 'HTML']" class="lead"></p>
{% endblock main-tutorial %}

{% block main-sample-code %}
{% autoescape off %}
<div ng-show="activeTab==='Form'">{% pygments "forms/combined_validation.py" %}</div>
<div ng-show="activeTab==='View'">{% pygments "views/combined_validation.py" %}</div>
<div ng-show="activeTab==='HTML'">{% pygments "tutorial/combined-validation.html" %}</div>
{% endautoescape %}
<p class="bg-info">This configuration is the most flexible one. Use it on productive web-sites.<br/>
<strong>Note: </strong>The submit buttons are disabled, until the client-side Form validation has
validated all the fields.</p>
{% endblock main-sample-code %}
