{% extends "base.html" %}
{% load djangular_tags tutorial_tags %}

{% block container %}
<h1>Django Messages</h1>
<div class="row">
	<div class="col-md-12">
		<p class="lead">Ajax Django messages for AngularJS</p>
	</div>
</div>

<form {% block form_tag %}name="{{ form.form_name }}" ng-controller="MyFormCtrl" validate{% endblock %}>
	{% csrf_token %}
	<div class="row">
		<div class="col-md-12">
			{{ form.as_div }}
		</div>
	</div>
	<div class="row" style="margin-bottom: 20px;">
		<div class="col-md-12">
			<button type="button"
					class="btn btn-primary"
					ng-click="submit({{ form.scope_prefix }}, {{ form.form_name }})"
					ng-disabled="!{{ form.form_name }}.$dirty || {{ form.form_name }}.$invalid">Submit via Ajax</button>
		</div>
	</div>
</form>


{% endblock container %}

{% block scripts %}
	<script src="{{ STATIC_URL }}js/ng-django-forms.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/ng-django-messages.js" type="text/javascript"></script>
	<script type="text/javascript">
	var my_app = angular.module('djangular-demo', ['ng.django.forms', 'ng.django.messages']);
	my_app.config(function($httpProvider) {
		$httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
		$httpProvider.defaults.headers.common['X-CSRFToken'] = '{% csrf_value %}';
	});
	</script>
	<script src="{{ STATIC_URL }}js/django-messages.js" type="text/javascript"></script>
{% endblock %}