{% extends "model-form.html" %}

{% block form_title %}Validated Model-Form Demo{% endblock %}

{% block form_header %}Combined Django Form with ng-model and client side validation{% endblock %}

{% block form_submission %}
	<input type="submit" class="btn btn-primary" ng-disabled="{{ form.form_name }}.$invalid" value="Submit via Post"><span>&nbsp;</span>
	<a class="btn btn-primary" ng-disabled="{{ form.form_name }}.$invalid" ng-click="submit()">Submit via Ajax</a>
{% endblock %}

{% block form_foot %}
	{% verbatim %}
		<pre>subscribe_data = {{ subscribe_data | json }}</pre>
	{% endverbatim %}
{% endblock %}
