{% extends "subscribe-form.html" %}
{% load djangular_tags %}

{% block form_ctrl %}ng-controller="MyFormCtrl"{% endblock %}

{% block form_title %}Model-Form Demo{% endblock %}

{% block form_header %}Combine Django Form with ng-model{% endblock %}

{% block form_submission %}
	<input type="submit" class="btn btn-primary" value="Submit via Post"><span>&nbsp;</span>
	<a class="btn btn-primary" ng-click="submit()">Submit via Ajax</a>
{% endblock %}

{% block form_foot %}
	{% verbatim %}
		<pre>subscribe_data = {{ subscribe_data | json }}</pre>
	{% endverbatim %}
{% endblock form_foot %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">
	my_app.config(function($httpProvider) {
		$httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
		$httpProvider.defaults.headers.common['X-CSRFToken'] = '{% csrf_value %}';
	});

	my_app.controller('MyFormCtrl', function($scope, $http, $window, djangoForm) {
		$scope.submit = function() {
			if ($scope.subscribe_data) {
				$http.post("{% url 'djng_model_form' %}", $scope.subscribe_data).success(function(out_data) {
					if (!djangoForm.setErrors($scope.valid_form, out_data.errors)) {
						// on successful postin, redirect onto thank you page
						$window.location.href = "{% url 'form_data_valid' %}";
					}
				}).error(function() {
					console.error('An error occured during submission');
				});
			}
			return false;
		};
	});
	</script>
{% endblock scripts %}
