{% extends "model-form.html" %}

{% block table_caption %}Validated Model-Form Demo{% endblock %}

{% block table_foot %}
	<tr>
		<td></td>
		<td>
			<input type="submit" class="btn" ng-disabled="{{ form.form_name }}.$invalid" value="Submit via Post"><span>&nbsp;</span>
			<a class="btn" ng-disabled="{{ form.form_name }}.$invalid" ng-click="submit()">Submit via Ajax</a>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
		{% verbatim %}
			<pre>subscribe_data = {{ subscribe_data | json }}</pre>
		{% endverbatim %}
		</td>
	</tr>
{% endblock table_foot %}
