{% extends "base.html" %}
{% load djangular_tags %}

{% block subscribe_me_form %}
	<form name="{{ form.name }}" novalidate method="post" action="." ng-controller="MyFormCtrl">
		{% csrf_token %}
		{{ form }}
		<div>
			<input type="submit" class="btn" value="Submit via HTTP"><span>&nbsp;</span>
			<a class="btn" ng-click="send_data()">Submit via Ajax</a>
		</div>
		{% verbatim %}
			<pre style="margin-top: 50px;">subscribe_data = {{ subscribe_data | json }}</pre>
		{% endverbatim %}
	</form>
{% endblock subscribe_me_form %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">
	var my_app = angular.module('djangular-demo', ['ng.django.forms']);
	my_app.config(function($httpProvider) {
		$httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
		$httpProvider.defaults.headers.common['X-CSRFToken'] = '{% csrf_value %}';
	});

	my_app.controller('MyFormCtrl', function($scope, $http) {
		$scope.send_data = function() {
			if ($scope.subscribe_data) {
				$http.post("{% url 'djng_model_form' %}", $scope.subscribe_data).success(function(out_data) {
					if (out_data.errors) {
						alert('Some form field did not validate');
					} else {
						alert('Form submitted successfully');
					}
				}).error(function() {
					alert('An error occured during submission');
				});
			}
			return false;
		};
	});
	</script>
{% endblock scripts %}
