{% extends "base.html" %}

{% block container %}
	<h1>Test Djangular's form validation</h1>
	<form method="post" ng-controller="FormValidationController">
		{{ form }}
		<button type="submit" class="btn">Submit</button>
	</form>
	{% comment %}
		<fieldset>
			<legend>Legend</legend>
			<label>Label name</label>
			<input type="text" placeholder="Type something…">
			<span class="help-block">Example block-level help text here.</span>
			<label class="checkbox">
				<input type="checkbox"> Check me out
			</label>
			<button type="submit" class="btn">Submit</button>
		</fieldset>
	</form>
	{% endcomment %}
{% endblock container %}
