{% extends "base.html" %}

{% comment %}
	<li class="active dropdown">
		<a href="{% url 'djng_partial_home' %}" class="dropdown-toggle">Partials <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li>
				<a ui-sref="contacts">Contacts</a>
			</li>
			<li>
				<a ui-sref="about">About</a>
			</li>
		</ul>
	</li>
{% endcomment %}

{% block container %}
	<div ui-view></div>
{% endblock container %}


{% comment %}

	<div class="row">
		<div class="span3">
			<div class="pa-sidebar well well-small">
				<ul class="nav nav-list">
					<li ng-class="{ active: $state.includes('contacts.list') }"><a ui-sref="contacts.list">All Contacts</a></li>
					<li class="nav-header">Top Contacts</li>
					<li ng-repeat="contact in contacts | limitTo:2" ui-sref-active="active">
				</ul>
			</div>
		</div>
		<div ui-view="" class="span9"></div>
	</div>

	<script type="text/ng-template" id="partial-demo/partialA.html">
		<h3>Partial A</h3>
	</script>
	<script type="text/ng-template" id="partial-demo/partialB.html">
		<h3>Partial B</h3>
	</script>
	<script type="text/ng-template" id="partial-demo/defaultPartial.html">
		<h3>Default Partial</h3>
	</script>

	{{ block.super }}
	<script type="text/javascript">
	my_app.config({{ config_djng_routes }})
		.controller('DefaultCtrl', function($scope, $routeParams, $window) {
			console.log('DefaultCtrl');
			console.log($window);
		})
		.controller('ListCtrl', function($scope, $routeParams) {
			console.log('ListCtrl1');
		})
		.controller('DetailCtrl', function($scope, $routeParams) {
			console.log('DetailCtrl');
		});
	</script>
{% endcomment %}
