{% extends "base.html" %}

{% block container %}
	<div ui-view></div>
{% endblock container %}

{% block scripts %}
	{{ block.super }}
	my_app.config(function($stateProvider) {
		$stateProvider.state('contacts', {
			url: "/partial_home/contacts",
			templateUrl: "{{ STATIC_URL }}partials/home.html"
		}).state('about', {
			url: "/partial_home/about",
			templateUrl: "{{ STATIC_URL }}partials/about.html",
			controller: function($scope) {
				$scope.items = ["A", "List", "Of", "Items"];
			}
		});
	});
{% endblock scripts %}
