{% extends "base.html" %}

{% block container %}
<h1>{% block form_title %}Form Validation Demo{% endblock %}</h1>
<div class="row">
	<div class="col-md-12">
		<p class="lead">{% block form_header %}Pure client side form validation{% endblock %}</p>
	</div>
</div>

<form name="{{ form.form_name }}" novalidate method="post" action="." {% block form_ctrl %}{% endblock %} class="subscribe ">
	{% csrf_token %}
	<div class="row">
		<div class="col-md-12">
			{{ form.as_div }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% block form_submission %}
				<input type="submit" class="btn btn-primary" ng-disabled="{{ form.form_name }}.$invalid" value="Subscribe">
			{% endblock %}
		</div>
	</div>
	<div class="row" style="margin-top: 2em;">
		<div class="col-md-12">
			{% block form_foot %}{% endblock %}
		</div>
	</div>
</form>
{% endblock container %}
