{% extends "base.html" %}

{% block container %}
	<h1>Subscribe Me</h1>
	<div class="row">
		<div class="span8">
			{% block subscribe_me_form %}
			<form name="{{ form.name }}" novalidate method="post" action=".">
				{% csrf_token %}
				{{ form }}
				<div>
					<input type="submit" class="btn" ng-disabled="{{ form.name }}.$invalid" value="Subscribe">
				</div>
				{{ form.email.ng_errors }}
			</form>
		</div>
	</div>
{% endblock container %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">
	angular.module('djangular-demo', ['ng.django.forms']);
	</script>
{% endblock scripts %}
