{% extends "subscribe-form.html" %}

{% block form_ctrl %}validate ng-controller="MyWebsocketCtrl"{% endblock %}

{% block form_title %}Django Forms with three-way data-binding{% endblock %}

{% block form_header %}Point a second browser onto the same URL and observe Form synchronization using Websockets{% endblock %}

{% block form_foot %}
	{% verbatim %}
		<h5><code>MyWebsocketCtrl</code>'s scope:</h5>
		<pre>subscribe_data = {{ subscribe_data | json }}</pre>
	{% endverbatim %}
{% endblock %}

{% block form_submission %}{% endblock %}

{% block scripts %}
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/ng-django-forms.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/ng-django-websocket.js" type="text/javascript"></script>
	<script type="text/javascript">
	var my_app = angular.module('djangular-demo', ['ng.django.forms', 'ng.django.websocket']);

	my_app.config(['djangoWebsocketProvider', function(djangoWebsocketProvider) {
		djangoWebsocketProvider.setURI('{{ WEBSOCKET_URI }}');
		djangoWebsocketProvider.setLogLevel('debug');
		djangoWebsocketProvider.setHeartbeat({{ WS4REDIS_HEARTBEAT }});
	}]);

	my_app.controller('MyWebsocketCtrl', function($scope, djangoWebsocket) {
		djangoWebsocket.connect($scope, 'subscribe_data', 'subscribe_data', ['subscribe-broadcast', 'publish-broadcast']);
	});
	</script>
{% endblock scripts %}
