{% extends "subscribe-form.html" %}

{% block form_ctrl %}ng-controller="MyFormCtrl"{% endblock %}

{% block form_title %}Tree-Way Data-Binding{% endblock %}

{% block form_header %}Point a second browser onto the same URL and observer form synchronization{% endblock %}

{% block form_foot %}
	{% verbatim %}
		<pre>subscribe_data = {{ subscribe_data | json }}</pre>
	{% endverbatim %}
{% endblock %}

{% block form_submission %}{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">
	my_app.config(['djangoWebsocketProvider', function(djangoWebsocketProvider) {
		djangoWebsocketProvider.setURI('{{ WEBSOCKET_URI }}');
		djangoWebsocketProvider.setLogLevel('debug');
		djangoWebsocketProvider.setHeartbeat({{ WS4REDIS_HEARTBEAT }});
	}]);

	my_app.controller('MyFormCtrl', function($scope, djangoWebsocket) {
		djangoWebsocket.connect($scope, 'subscribe_data', 'subscribe_data', ['subscribe-broadcast', 'publish-broadcast']);
	});
	</script>
{% endblock scripts %}
