{% with id=widget.attrs.id %}
<div ng-form="{{ widget.name }}"{% if id %} id="{{ id }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>{% for group, options, index in widget.optgroups %}{% if group %}<p class="bg-warning">Nested choices not supported yet</p>{% endif %}{% for option in options %}
	{% if wrap_label %}<label{% if option.attrs.id %} for="{{ option.attrs.id }}"{% endif %}>{% endif %}<input name="{{ option.name }}" type="checkbox" value="{{ option.value }}"{% include "django/forms/widgets/attrs.html" with widget=option %} />{% if wrap_label %} {{ option.label }}</label>{% endif %}
{% endfor %}{% endfor %}</div>
{% endwith %}